.product-item .down-content #h1on img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
}
.product-item .down-content #num{
	
	margin-right:78%;
	margin-top:-19%;
	font-size: 20px;
	color: #cea666;
	font-weight: 500;
}

.product-item .down-content #h1off img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
} 

.product-item .down-content .group{
	
	margin-top:-8%;
}

/*start housing two*/

.product-item .down-content #h2on img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
}


.product-item .down-content #h2off img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
} 

.product-item .down-content .group{
	
	margin-top:-8%;
}


/*start housing three*/

.product-item .down-content #h3on img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
}


.product-item .down-content #h3off img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
} 

.product-item .down-content .group{
	
	margin-top:-8%;
}

/*start housing 4*/

.product-item .down-content #h4on img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
}


.product-item .down-content #h4off img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
} 

.product-item .down-content .group{
	
	margin-top:-8%;
}

/*start housing 5*/

.product-item .down-content #h5on img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
}


.product-item .down-content #h5off img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
} 

.product-item .down-content .group{
	
	margin-top:-8%;
}

/*start housing 6*/

.product-item .down-content #h6on img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
}


.product-item .down-content #h6off img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
} 

.product-item .down-content .group{
	
	margin-top:-8%;
}
/*start housing 7*/

.product-item .down-content #h7on img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
}


.product-item .down-content #h7off img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
} 

.product-item .down-content .group{
	
	margin-top:-8%;
}
/*start housing three*/

.product-item .down-content #h8on img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
}


.product-item .down-content #h8off img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
} 

.product-item .down-content .group{
	
	margin-top:-8%;
}
/*start housing three*/

.product-item .down-content #h9on img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
}


.product-item .down-content #h9off img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
} 

.product-item .down-content .group{
	
	margin-top:-8%;
}
/*start housing three*/

.product-item .down-content #h10on img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
}


.product-item .down-content #h10off img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
} 

.product-item .down-content .group{
	
	margin-top:-8%;
}
/*start housing three*/

.product-item .down-content #h11on img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
}


.product-item .down-content #h11off img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
} 

.product-item .down-content .group{
	
	margin-top:-8%;
}

/*start housing three*/

.product-item .down-content #h12on img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
}


.product-item .down-content #h12off img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
} 

.product-item .down-content .group{
	
	margin-top:-8%;
}

/*start housing three*/

.product-item .down-content #h0on img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
}


.product-item .down-content #h0off img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
} 

.product-item .down-content .group{
	
	margin-top:-8%;
}

.product-item .down-content #h13on img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
}


.product-item .down-content #h13off img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
} 

.product-item .down-content #h14on img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
}


.product-item .down-content #h14off img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
} 



.product-item .down-content #h16on img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
}


.product-item .down-content #h16off img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
} 





.product-item .down-content #h15on img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
}


.product-item .down-content #h15off img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
} 

.product-item .down-content #h17on img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
}


.product-item .down-content #h17off img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
} 



.product-item .down-content #h18on img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
}


.product-item .down-content #h18off img {
	width:10%;
	height:5%;
	margin-right:90%;
	margin-top:-18%;
} 